<!-- Preloader -->
<!--<div id="preloader">-->
<!--  <div class="dorne-load"></div>-->
<!--</div>-->

<!-- ***** Listing Destinations Area Start ***** -->
<section class="dorne-listing-destinations-area section-padding-100-50">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading dark text-center">
          <span></span>
          <h4>Locais em Destaque</h4>
          <p>Escolhas Populares</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Single Features Area -->
      <% @companies.each do |company| %>
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="single-features-area mb-50">
          <a href="<%= company_path(company) %>">
            <%= image_tag "img/bg-img/feature-1.jpg", class: "" %>
            <!-- Price -->
            <div class="price-start">
              <p>A partir de R$59,90</p>
            </div>
            <div class="feature-content d-flex align-items-center justify-content-between">
              <div class="feature-title">
                <h5><%= company.name %></h5>
                <p><%= company.description %></p>
              </div>
              <div class="feature-favourite">
                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              </div>
            </div>
          </a>
        </div>
      </div>
      <% end  %>
      <!-- Single Features Area -->
    </div>
  </div>
</section>
<!-- ***** Listing Destinations Area End ***** -->